mj-wrapper(padding="20px" background-color="#ffffff")
    //-titre
    mj-section(padding="0")
        mj-column(width="88%") 
            mj-text(padding="5px 0" mj-class="T24-700 cB0") Gérer l'alternance et les cours, c'est tout un art, mais avec quelques astuces, tu peux le faire avec brio et garder le sourire&nbsp;!
            mj-spacer(height="15px")
    mj-section(padding="0")
        //-section 1
        mj-group(width="88%")   
            mj-column(width="15%")
                mj-image(padding="0" width="100px" src="https://i.ibb.co/676ptLLh/cible-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Organisation, c'est la clé&nbsp;! 
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Planifie ton emploi du temps dès le début. Utilise un agenda ou une appli pour noter tes cours, tes périodes en entreprise, et tes deadlines.
        //-section 2
        mj-group(width="88%" direction="rtl")
            mj-column(width="15%")  
                mj-image(padding="0" width="100px" src="https://i.ibb.co/C5z4Y92L/agenda-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T18-700 cB0") Anticipe et priorise
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") Identifie ce qui est urgent et important. Prépare tes cours à l'avance, et n'attends pas la dernière minute pour réviser ou faire tes devoirs.
        //-section 3
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="100px" src="https://i.ibb.co/rRGwCHvt/note-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px") 
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Gère ton temps intelligemment
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Divise ton travail en petites tâches. Par exemple, un peu de révision chaque soir ou chaque matin, plutôt que tout faire à la dernière minute.
        //-section 4
        mj-group(width="88%" direction="rtl")
            mj-column(width="15%")
                mj-image(padding="0" width="100px" src="https://i.ibb.co/4gVYRGBS/dialog-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px") 
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T18-700 cB0") Communique avec ton tuteur ou ton professeur
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") N'hésite pas à poser des questions, demander des conseils ou des ajustements si tu te sens débordé(e). La communication, c'est essentiel&nbsp;!
        //-section 5
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="100px" src="https://i.ibb.co/bMD1QwM6/light-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Profite de ton expérience en entreprise
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Applique ce que tu apprends en cours dans ton job, et inversement. C'est une super façon d'apprendre concrètement et de rester motivé(e).
        //-section 6
        mj-group(width="88%" direction="rtl")
            mj-column(width="15%")
                mj-image(padding="0" width="100px" src="https://i.ibb.co/J8sh5sf/sport-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T18-700 cB0") Prends soin de toi
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") Ne néglige pas ton sommeil, ton alimentation, et tes moments de détente. Un esprit reposé est plus efficace&nbsp;!
        //-section 7
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="100px" src="https://i.ibb.co/m5zJHPX7/party-T062025.png" alt="")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Reste motivé(e) et positif(ve)
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Chaque étape te rapproche de ton objectif. Garde en tête ton projet professionnel, ça te donnera de l'énergie pour continuer.
    mj-section(padding="0")
        mj-column( width="80%" padding="20px" border-radius="10px" mj-class="bg0")
                mj-text(padding="0 20px" mj-class="T16-400 cW") #[span(style="font-weight:700;color:#74151e;") En résumé], l'équilibre entre cours et alternance demande de l'organisation, de la discipline, mais aussi de la flexibilité. 
                mj-text(padding="0 20px" mj-class="T16-400 cW") Avec une bonne gestion, tu vas y arriver&nbsp;!
    mj-section(padding="0")
        mj-column
            mj-spacer(height="35px")