mj-wrapper(padding="0 20px" background-color="#ffffff")
    //-titre
    mj-section(padding="0")
        mj-column(width="88%") 
            mj-text(padding="5px 0" mj-class="T24-700 cB0") 6 conseils pour un Bac en béton
            mj-text(padding="10px 0" mj-class="T16-700 cT1") Le grand jour approche à grands pas, mais pas de panique, la clé de la réussite repose avant tout sur une bonne préparation. Voici nos astuces pour aborder cette étape avec confiance et sérénité.
            mj-spacer(height="15px")
    mj-section(padding="0")
        //-section 1
        mj-group(width="88%")   
            mj-column(width="15%")
                mj-image(padding="0" width="50px" src="https://i.ibb.co/Tqh0dnnW/n01.png" alt="numéro 1")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Clarifie ton projet 
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Savoir ce que tu veux faire, c'est la base. Réfléchis à ton secteur, tes passions, ton avenir. Plus c'est précis, plus tu cibleras efficacement.
        //-section 2
        mj-group(width="88%")
            mj-column(width="15%")  
                mj-image(padding="0" width="50px" src="https://i.ibb.co/WpBcQNpW/n02.png" alt="numéro 2")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Prépare ton dossier de champion(ne)
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") CV&nbsp;: soigne-le, mets en avant tes expériences, tes compétences, ta motivation.
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Lettre de motivation&nbsp;: personnalise-la à chaque entreprise, montre que tu es motivé(e) et que tu as envie de rejoindre leur équipe.
        //-section 3
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="50px" src="https://i.ibb.co/MDMJ7Ck6/n03.png" alt="numéro 3")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px") 
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Recherche, recherche, recherche&nbsp;!
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Utilise les sites spécialisés (Alternance.fr, L'Etudiant), contacte directement les entreprises, et n'oublie pas les centres d'info jeunesse ou ta mission locale.
        //-section 4
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="50px" src="https://i.ibb.co/rRtVGtdb/n04.png" alt="numéro 4")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Entraîne-toi pour l'entretien
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Prépare tes réponses, sois confiant(e), montre tonenthousiasme. Tu peux même t'entraîner avec un ami ou devant un miroir&nbsp;!
        //-section 5
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="50px" src="https://i.ibb.co/hF1NYDSk/n05.png" alt="numéro 5")/
            mj-column(width="85%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Soigne ta présentation 
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Ponctuel(le), souriant(e), sérieux(se) — la première impression compte&nbsp;!
        //-section 6
        mj-group(width="88%")
            mj-column(width="15%")
                mj-image(padding="0" width="50px" src="https://i.ibb.co/JFcNsc20/n06.png" alt="numéro 6")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0") Reste motivé(e) et persévère
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") La recherche peut prendre du temps, mais ne lâche rien. Chaque candidature te rapproche de ton contrat&nbsp;!
                mj-spacer(height="35px")