mj-wrapper(padding="0 20px" background-color="#ffffff")
    //-titre
    mj-section
        mj-column(width="88%") 
            mj-text(padding="5px 0" mj-class="T24-700 cB0") Les clés pour réussir ta recherche d'alternance
            mj-spacer(height="15px")
    mj-section(padding="0")
        //-section 1
        mj-group(width="88%")   
            mj-column(width="20%")
                mj-image(padding="0" width="250px" src="https://i.ibb.co/676ptLLh/cible-T062025.png" alt="")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0" vertical-align="middle")
                    img(style="vertical-align:middle;padding-right:6px" width="22px" src="https://i.ibb.co/rKrw4yTc/nb01.png" alt="")/
                    | Clarifie ton projet 
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Savoir ce que tu veux faire, c'est la base. Réfléchis à ton secteur, tes passions, ton avenir. #[span(style="font-weight:700;color:#1a1a1a;") Plus c'est précis, plus tu cibleras efficacement].
        //-section 2
        mj-group(width="88%" direction="rtl")
            mj-column(width="20%")  
                mj-image(padding="0" width="250px" src="https://i.ibb.co/TB1nYNGv/icon02.png" alt="")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px")
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T18-700 cB0" vertical-align="middle") 
                    img(style="vertical-align:middle;padding-right:6px" width="22px" src="https://i.ibb.co/DDdf3mjh/nb02.png" alt="")/
                    | Prépare ton dossier de champion(ne)
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") CV&nbsp;:] soigne-le, mets en avant tes expériences, tes compétences, ta motivation.
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") Lettre de motivation&nbsp;:] personnalise-la à chaque entreprise, montre que tu es motivé(e) et que tu as envie de rejoindre leur équipe.
        //-section 3
        mj-group(width="88%")
            mj-column(width="20%")
                mj-image(padding="0" width="250px" src="https://i.ibb.co/ks6qGk1s/icon03.png" alt="")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px") 
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0" vertical-align="middle") 
                    img(style="vertical-align:middle;padding-right:6px" width="22px" src="https://i.ibb.co/Q7cP5M78/nb03.png" alt="")/
                    | Recherche, recherche, recherche&nbsp;!
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Utilise les #[span(style="font-weight:700;color:1a1a1a;") sites spécialisés] (Alternance.fr, L'Etudiant), contacte directement les #[span(style="font-weight:700;color:#1a1a1a;") entreprises], et n'oublie pas les #[span(style="font-weight:700;color:#1a1a1a;") centres d'info jeunesse] ou ta #[span(style="font-weight:700;color:1a1a1a;") mission locale].
        //-section 4
        mj-group(width="88%" direction="rtl")
            mj-column(width="20%")
                mj-image(padding="0" width="250px" src="https://i.ibb.co/YFZM023v/icon04.png" alt="")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px")
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T18-700 cB0" vertical-align="middle")
                    img(style="vertical-align:middle;padding-right:6px" width="22px" src="https://i.ibb.co/C5DKcVr5/nb04.png" alt="")/
                    | Entraîne-toi pour l'entretien
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:1a1a1a;") Prépare tes réponses, sois confiant(e), montre ton enthousiasme]. Tu peux même t'entraîner avec un ami ou devant un miroir&nbsp;!
        //-section 5
        mj-group(width="88%")
            mj-column(width="20%")
                mj-image(padding="0" width="250px" src="https://i.ibb.co/hFNh6ZkB/icon05.png" alt="numéro 5")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px")
                mj-text(padding="0 20px" padding-right="0" mj-class="T18-700 cB0" vertical-align="middle") 
                    img(style="vertical-align:middle;padding-right:6px" width="22px" src="https://i.ibb.co/NdvgtD02/nb05.png" alt="")/
                    | Soigne ta présentation 
                mj-text(padding="0 20px" padding-right="0" mj-class="T16-400 cT0") Ponctuel(le), souriant(e), sérieux(se) — #[span(style="font-weight:700;color:#1a1a1a;") la première impression compte&nbsp;!]
        //-section 6
        mj-group(width="88%" direction="rtl")
            mj-column(width="20%")
                mj-image(padding="0" width="250px" src="https://i.ibb.co/ccr3X6Cv/icon06.png" alt="numéro 6")/
            mj-column(width="80%" padding-top="10px" padding-bottom="30px")
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T18-700 cB0") 
                    img(style="vertical-align:middle;padding-right:6px" width="22px" src="https://i.ibb.co/5bZPmKs/nb06.png" alt="")/
                    | Reste motivé(e) et persévère
                mj-text(align="right" padding="0 20px" padding-left="0" mj-class="T16-400 cT0") La recherche peut prendre du temps, mais ne lâche rien. #[span(style="font-weight:700;color:#1a1a1a;") Chaque candidature te rapproche de ton contrat&nbsp;!]
                mj-spacer(height="35px")