mj-section
    mj-column
        mj-text() Astuces bonus
        mj-text() Consulte des vidéos et guides en ligne pour te préparer aux entretiens.
        mj-text() N'hésite pas à demander conseil à ton conseiller d'orientation ou à la mission locale.
        mj-text() Tu peux le faire&nbsp;! La clé, c'est ta motivation et ta détermination.
        mj-text() Alors, fonce, prépare ton dossier, et montre ce que tu vaux&nbsp;!