mj-section(background-color="#E7BA2F" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="https://i.ibb.co/278vC4St/ampoules-Jaune02.png" alt="")
    mj-column(width="88%")
        mj-text(mj-class="T18-700 cB0") Astuces bonus
        mj-text(padding="0 20px" mj-class="T16-400 cT0") #[span(style="font-weight:700;color:#1a1a1a;") Consulte des vidéos et guides en ligne] pour te préparer aux entretiens.
        mj-text(padding="0 20px" mj-class="T16-400 cT0") N'hésite pas à #[span(style="font-weight:700;color:#1a1a1a;") demander conseil] à ton #[span(style="font-weight:700;color:#1a1a1a;") conseiller d'orientation] ou à la #[span(style="font-weight:700;color:#1a1a1a;") mission locale].
        mj-text(padding="0 20px" mj-class="T16-400 cT0") Tu peux le faire&nbsp;! #[span(style="font-weight:700;color:#1a1a1a;") La clé, c'est ta motivation et ta détermination].
        mj-text(padding="0 20px" mj-class="T16-400 cT0") Alors, fonce, prépare ton dossier, et montre ce que tu vaux&nbsp;!
        mj-spacer(height="40px")