mj-section(background-color="#edd32c" padding-top="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="./images/ideeT062025.png" alt="")
    mj-column(width="88%")
        mj-text(mj-class="T18-700 cB0") Astuces bonus
        mj-text(padding="0 20px" mj-class="T16-400 cT0") Consulte des vidéos et guides en ligne pour te préparer aux entretiens.
        mj-text(padding="0 20px" mj-class="T16-400 cT0") N'hésite pas à demander conseil à ton conseiller d'orientation ou à la mission locale.
        mj-text(padding="0 20px" mj-class="T16-400 cT0") Tu peux le faire&nbsp;! La clé, c'est ta motivation et ta détermination.
        mj-text(padding="0 20px" mj-class="T16-400 cT0") Alors, fonce, prépare ton dossier, et montre ce que tu vaux&nbsp;!