mj-section(mj-class="bgB-1" padding="20px")
    mj-column(width="20%")
        mj-image(padding="5px" align="left" width="300px" src="https://i.ibb.co/1Y1v70Hj/Camille25052024.png" alt="Camille, chargée des admissions pour le secteur tourisme")/
    mj-column(width="80%")
        mj-text(padding="0 20px" mj-class="T18-400 cW") On te souhaite plein de succès dans ta recherche d'alternance&nbsp;!
        mj-text(padding="0 20px" mj-class="T18-400 cW") N'oublie pas&nbsp;: chaque étape te rapproche de ton futur professionnel. Reste positif(ve), persévère et crois en toi&nbsp;! 
        mj-text(padding="0 20px" mj-class="T18-400 cW") Tu as toutes les cartes en main pour réussir.
        mj-text(padding="0 20px" mj-class="T18-400 cW") Nous sommes là pour te soutenir à chaque étape. N'hésite pas à revenir vers nous si tu as besoin de conseils ou d'aide supplémentaire.