mj-section
    mj-column
        mj-text() On te souhaite plein de succès dans ta recherche d'alternance&nbsp;!
        mj-text() N'oublie pas&nbsp;: chaque étape te rapproche de ton futur professionnel. Reste positif(ve), persévère et crois en toi&nbsp;! 
        mj-text() Tu as toutes les cartes en main pour réussir.
        mj-text() Nous sommes là pour te soutenir à chaque étape. N'hésite pas à revenir vers nous si tu as besoin de conseils ou d'aide supplémentaire.