mj-section(mj-class="bg0" padding="20px")
    mj-column(width="20%")
        mj-image(padding="5px" align="left" width="300px" src="https://i.ibb.co/Pzz9VDz5/fete062025.png" alt="")/
    mj-column(width="80%")
        mj-text(padding="0 20px" mj-class="T18-400 cT1") On te souhaite #[span(style="font-weight:700;") plein de succès dans ta recherche d'alternance&nbsp;!]
        mj-text(padding="0 20px" mj-class="T18-400 cT1") N'oublie pas&nbsp;: chaque étape te rapproche de ton futur professionnel. #[span(style="font-weight:700;") Reste positif(ve) et persévère&nbsp;!]
        mj-text(padding="0 20px" mj-class="T18-400 cT1") Tu as toutes les cartes en main pour réussir.
        mj-text(padding="0 20px" mj-class="T18-400 cT1") Nous sommes là pour te soutenir à chaque étape. #[span(style="font-weight:700;") N'hésite pas à revenir vers nous si tu as besoin de conseils ou d'aide supplémentaire].
        mj-spacer(height="20px")