mj-section(padding="10px 25px")
    mj-group
        mj-column(width="70%" vertical-align="middle")
            mj-image(align="left" padding="0" width="250px" src="https://i.ibb.co/ZpZ2KdKn/News-Letter.png" alt="logo du Newsletter")/
            mj-text(align="left" padding="0" padding-top="10px" mj-class="T16-400 cB0" text-transform="uppercase") #[span(style="font-weight:700;") Ecosup Tourisme] - Mai 2025
        mj-column(width="30%" vertical-align="middle")
            mj-image(align="right" padding="0" width="100px" src="https://i.ibb.co/x7Dh8V0/logo-ETourisme.png" alt="logo Ecosup-Tourisme")/
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="https://i.ibb.co/j9GmTKkh/Img-Gr-Etudiants-T.png" alt="Groupe d'étudiants")/
mj-section(mj-class="bgB+2" padding="0")
    mj-column
        mj-text(mj-class="T24-700" color="#ffffff" padding-bottom="0")  Prêts pour le Bac 2025&nbsp;?
        mj-text(mj-class="T24-700" color="#ffffff" padding-top="0")  On vous donne toutes les clés pour réussir&nbsp;!
mj-section(background-color="#ffffff" padding="25px")
    mj-column(width="30%" vertical-align="middle")
        mj-image(padding="5px" width="300px" src="https://i.ibb.co/1Y1v70Hj/Camille25052024.png" alt="Camille, chargée des admissions pour le secteur tourisme")/
    mj-column(width="70%" vertical-align="middle")
        mj-text(padding="0 5px" mj-class="T16-400 cT0") #[span(style="font-weight:700;") Camille], Chargée des admissions pour le secteur tourisme, vous donne toutes les astuces pour organiser vos révisions&nbsp;!
        mj-text(padding="0 5px" mj-class="T16-400 cT0") Une vraie copilote pour votre avenir professionnel&nbsp;!