mj-section(mj-class="bgB+2" padding="0")
    mj-column
        mj-social(align="center" icon-size="30px" icon-height="30px" inner-padding="20px" mode="horizontal")
            mj-social-element(src="https://i.ibb.co/rKYz5Gk1/icon-Facebook-W.png" href="https://www.facebook.com/EcosupCamp/" target="_blank" alt="icon facebook")
            mj-social-element(src="https://i.ibb.co/5WNr72dM/icon-Instagram-W.png" href="https://www.instagram.com/ecosup.campus/" target="_blank" alt="icon instagram")
            mj-social-element(src="https://i.ibb.co/rRgrFnQS/icon-Linkedin-W.png" href="https://www.linkedin.com/company/ecosup-campus" target="_blank" alt="icon linkedin")  
